* {
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
}

.box {
    width:12%;
    height: 24%
}

.white {
    background-color: #A5907E;
}

.black {
    background-color:#DEB887;
}
